.formStyle {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 12px;
  font-size: 14px;
}

.inputStyle {
  width: 232px;
  height: 48px;
  padding-left: 21px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

.requestMessage {
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 10px;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  color: green;
}
.requestError {
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 10px;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  color: rgb(219, 0, 0);
}

@media screen and (max-width: 420px) {
  .formStyle {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    justify-items: center;
  }
  .inputStyle {
    width: 328px;
  }
}
