.header {
  width: 100%;
  display: grid;
  grid-template-columns: 48px auto auto;
  position: absolute;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 40px;
}
.hiddenH1 {
  display: none;
}
.headerMenu {
  padding-top: 16px;
  list-style: none;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 23px;
  grid-column-gap: 32px;
  justify-content: start;
  align-items: center;
}

.headerLogin {
  padding-top: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 23px;
  justify-items: end;
  justify-content: end;
  align-items: center;
}

.buttonStyle {
  color: #fff;
}

@media screen and (max-width: 420px) {
  .header {
    padding: 0 16px;
    grid-template-columns: 48px auto;
    grid-gap: 46px;
  }
  .header nav {
    display: none;
  }
  .headerMenu {
    display: none;
  }
  .buttonStyle {
    display: none;
  }
  .headerLogin {
    padding: 0;
    align-content: center;
    justify-content: center;
    grid-gap: 0;
  }
}
